.nav{
    display: flex;
    border: 1px solid black;
}

.logo-img{
    width: 5rem;
    height: 2rem;
}

.home{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10rem;

    
}

.card1{
    width: 10rem;
    height: 10rem;
    border: 1px solid black;
    margin: 2rem;
    background-image: url('./Images/tech1.jpeg');
    color: white;
}

.default-board{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}

.board-container{
    /* background-image: url('./Images/tech1.jpeg'); */
    background-color: azure;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    
}   

.list-item{
    display: flex;
    border: 1px solid black;
    margin: 2rem;
    width: 20rem;
    flex-direction: column;
    background-color: white;
    
    
}

.list-name{
    background-image: url('./Images/tech.jpeg');
    height: 5rem;
    color: white;
}

.outer-board{
    display: flex;

}

.oneCard, form{
    border: 1px solid black;
    padding: 0.5rem;
    
}

.list{
    text-decoration: none;
}


.all-checklists{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.checklists{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    flex-wrap: wrap;
    /* background-color: black; */
 
    width: 40rem;

    
    
}

.each-checklist{
    display: flex;
   
    width: 35rem;
    margin: 2rem;
    justify-content: space-between;
    
}

.two-div{
    display: flex;
    flex-direction: row-reverse;
}

.outer-checklist-div{
    background-color: aqua;
    margin: 2rem;
}

